---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.site-title::before {
    content: url("images/klubb_logga.svg");
    display: inline-flex;
    position: relative;
    width: 48px;
    height: 48px;
    right: 5px;
    vertical-align: middle;
}
